name: ECR Build Test

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Debug workspace
      run: |
        pwd
        ls -la

    - name: Docker Build Test
      run: |
        docker build -t testimage .
